<!DOCTYPE html>
<html lang="en" th:fragment="link">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- plugins -->
  <link rel="stylesheet" href="/web/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/web/plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="web/plugins/slick/slick.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/web/css/style.css" media="screen">
</head>

<body>

</body>

</html>