<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <th:block th:insert="~{/web/common/link.html :: link}"></th:block>
</head>

<body>
    <!-- Header -->
    <header class="navigation fixed-top" th:insert="~{web/common/header.html :: header}">
    </header>
    <!-- end Header -->

    <section class="section pb-0">F
        <div class="container">
            <form method="POST" th:action="@{/TMDT/product/shoppingCartConfirmation}" th:object="${productDetail}">
                <div class="row">
                    <div class="col-7">
                        <img class="card-img-top" th:src="@{${'/TMDT/product/image/display/' + productDetail.id}}" alt="Card image cap">
                    </div>
                    <div class="col-5">
                        <div>
                            <p th:text="*{namePhone}"></p>
                        </div>
                        <input type="submit" value="Send" class="button-send-sc" />
                    </div>
                </div>
            </form>
        </div>
    </section>

    <th:block th:insert="~{/web/common/script.html :: script}"></th:block>
</body>

</html>