<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert product</title>

	<th:block th:insert="~{admin/common/link :: link}"></th:block>

</head>

<body>
	<div class="container-scroller">

		<!-- partial:partials/_navbar.html -->
		<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
			th:insert="~{admin/common/navbar.html :: navbar}">
		</nav>

		<div class="container-fluid page-body-wrapper">

			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="~{admin/common/sidebar.html :: sidebar}">
			</nav>

			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
						<h3 class="page-title"> Form elements </h3>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Forms</a></li>
								<li class="breadcrumb-item active" aria-current="page">Form elements</li>
							</ol>
						</nav>
					</div>
					<div th:unless="${param.id}">
						<form th:action="@{/admin/san-pham}" class="forms-sample" th:method="POST"
							enctype="multipart/form-data">
							<div class="row" th:object="${products}">
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Chi tiết chính sản phẩm</h4>
											<p class="card-description"> Basic form layout </p>
											<div class="form-group">
												<label for="nameProduct">Tên sản phẩm</label>
												<input type="text" class="form-control" id="name-Product"
													name="namePhone" field="*{namePhone}">
											</div>
											<div class="form-group">
												<label for="nameProduct">Ảnh sản phẩm</label>
												<input type="file" class="form-control" name="file"
													required="required">
											</div>
											<div class="form-group">
												<label for="price">Giá hiện tại</label>
												<input type="number" class="form-control" name="price"
													field="*{price}">
											</div>
											<div class="form-group">
												<label for="priceSale">Giá sale</label>
												<input type="number" class="form-control"
													name="priceSale" field="*{priceSale}">
											</div>
											<div class="form-group">
												<label for="shortdescription">Mô tả ngắn</label> <br>
												<textarea class="shortdescription mt-2 short-them"
													name="shortdescription" rows="4" cols="50" id="shortdescription"
													field="*{shortdescription}">
											</textarea>
											</div>
											<div class="form-group">
												<label for="description">Mô tả</label> <br>
												<textarea class="description mt-2 short-them" name="description" id="description"
													rows="4" cols="50" th:field="*{description}">
											</textarea>
											</div>
											<div class="form-group">
												<label for="cateId">Thể loại</label> <br>
												<select class="custom-select" name="cateId" field="*{cateId}">
													<option th:each="category : ${listCategory}" id="cateId"
														th:text="${category.name}" th:value="${category.id}"></option>
												</select>
											</div>
											<button type="submit" class="btn btn-primary mr-2">Lưu</button>
										</div>
									</div>
								</div>
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Thông tin sản phẩm</h4>
											<p class="card-description"> Horizontal form layout </p>
											<div class="form-group row">
												<label for="system" class="col-sm-3 col-form-label">Hệ điều hành</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="systems" name="system"
														field="*{system}">
												</div>
											</div>
											<div class="form-group row">
												<label for="cpu" class="col-sm-3 col-form-label">CPU</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="cpus" name="cpu"
														field="*{cpu}">
												</div>
											</div>
											<div class="form-group row">
												<label for="ram" class="col-sm-3 col-form-label">RAM</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="rams" name="ram"
														field="*{ram}">
												</div>
											</div>
											<div class="form-group row">
												<label for="memoryIn" class="col-sm-3 col-form-label">Bộ nhớ
													trong</label>
												<div class="col-sm-9">
													<input type="number" class="form-control" id="memory-in"
														name="memoryIn" field="*{memoryIn}">
												</div>
											</div>
											<div class="form-group row">
												<label for="capacityPin" class="col-sm-3 col-form-label">Dung lượng
													pin</label>
												<div class="col-sm-9">
													<input type="number" class="form-control" id="capacity_pin"
														name="capacityPin" field="*{capacityPin}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- Update product -->
					<div th:if="${param.id}">
						<form th:action="@{/admin/san-pham?id={id}(id=${param.id})}" class="forms-sample"
							th:method="PUT" enctype="multipart/form-data">
							<div class="row" th:object="${addProduct}">
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Chi tiết chính sản phẩm</h4>
											<p class="card-description"> Basic form layout </p>
											<div class="form-group">
												<label for="nameProduct">Tên sản phẩm</label>
												<input type="text" class="form-control" id="nameProduct"
													name="namePhone" th:field="*{namePhone}">
											</div>
											<div class="form-group">
												<label for="nameProduct">Ảnh sản phẩm</label>
												<input type="file" class="form-control" name="file" id="file"
													required="required">
											</div>
											<div class="form-group">
												<label for="price">Giá hiện tại</label>
												<input type="number" class="form-control" id="price" name="price"
													th:field="*{price}">
											</div>
											<div class="form-group">
												<label for="priceSale">Giá sale</label>
												<input type="number" class="form-control" id="priceSale"
													name="priceSale" th:field="*{priceSale}">
											</div>
											<div class="form-group">
												<label th:for="shortDiscription">Mô tả ngắn</label> <br>
												<textarea class="shortDiscription mt-2 short-them"
													name="shortDiscription" rows="4" cols="50" path="content"
													th:field="*{shortDiscription}">
												</textarea>
											</div>
											<div class="form-group">
												<label for="description">Mô tả</label> <br>
												<textarea class="description mt-2 short-them" name="description"
													rows="4" cols="50" th:field="*{description}">
												</textarea>
											</div>
											<div class="form-group">
												<label for="cateId">Thể loại</label> <br>
												<select class="custom-select" name="cateId" th:field="*{cateId}">
													<option th:each="category : ${listCategory}"
														th:text="${category.getName()}" th:value="${category.getId()}"></option>
												</select>
											</div>
											<button type="submit" class="btn btn-primary mr-2">Lưu</button>
										</div>
									</div>
								</div>
								<div class="col-md-6 grid-margin stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Thông tin sản phẩm</h4>
											<p class="card-description"> Horizontal form layout </p>
											<div class="form-group row">
												<label for="screen" class="col-sm-3 col-form-label">Màn hình</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="screen" name="screen"
														th:value="${addProduct.screen}">
												</div>
											</div>
											<div class="form-group row">
												<label for="system" class="col-sm-3 col-form-label">Hệ điều hành</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="system" name="system"
														th:value="${addProduct.system}">
												</div>
											</div>
											<div class="form-group row">
												<label for="cpu" class="col-sm-3 col-form-label">CPU</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="cpu" name="cpu"
														th:value="${addProduct.cpu}">
												</div>
											</div>
											<div class="form-group row">
												<label for="ram" class="col-sm-3 col-form-label">RAM</label>
												<div class="col-sm-9">
													<input type="text" class="form-control" id="ram" name="ram"
														th:value="${addProduct.ram}">
												</div>
											</div>
											<div class="form-group row">
												<label for="memoryIn" class="col-sm-3 col-form-label">Bộ nhớ
													trong</label>
												<div class="col-sm-9">
													<input type="number" class="form-control" id="memoryIn"
														name="memoryIn" th:value="${addProduct.memoryIn}">
												</div>
											</div>
											<div class="form-group row">
												<label for="capacityPin" class="col-sm-3 col-form-label">Dung lượng
													pin</label>
												<div class="col-sm-9">
													<input type="number" class="form-control" id="capacityPin"
														name="capacityPin" th:value="${addProduct.capacityPin}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- End update product -->
				</div>
			</div>

		</div>
	</div>

	<th:block th:insert="~{admin/common/script :: script}"></th:block>
</body>

</html>