<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List Product</title>
	
	<th:block th:insert="~{admin/common/link :: link}"></th:block>

</head>
<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:insert="~{admin/common/navbar.html :: navbar}">
		</nav>

		<div class="container-fluid page-body-wrapper">
		
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="~{admin/common/sidebar.html :: sidebar}">
			</nav>
			
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
						<h3 class="page-title"> Basic Tables</h3>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Tables</a></li>
							<li class="breadcrumb-item active" aria-current="page">Basic tables</li>
							</ol>
						</nav>
					</div>
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
			               <div class="card">
								<div class="card-body">
									<h4 class="card-title">Striped Table</h4>
									<p class="card-description"> Add class <code>.table-striped</code></p>
									<a th:href="@{/admin/san-pham}">Thêm sản phẩm</a>
									<table class="table table-striped">
										<thead>
											<tr>
												<th> Tên sản phẩm </th>
												<th> Ảnh </th>
												<th> pricesale </th>
												<th> Price </th>
												<th> Thao tác </th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="product, hh : ${listProduct}">
												<td class="py-1"><p th:text="${product.getNamePhone()}"></p></td>
												<td><img th:src="@{${'/admin/image/display/' + product.id}}" class="card img-fluid" width="50" height="50" alt=""/></td>
												<td><p th:text="${product.getPriceSale()}"></p> </td>
												<td><p th:text="${product.getPrice()}"></p></td>
												<td>
													<a th:href="@{/admin/san-pham?id={id}(id = ${product.getId()})}" title="Sửa" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
													<a th:href="@{/admin/delete/} + ${product.id}" title="Xóa"><i class="fa fa-trash" aria-hidden="true"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
			               </div>
              			</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	
	<th:block th:insert="~{admin/common/script :: script}"></th:block>
	
</body>
</html>